<html>
  <head>
    <title>node.jsã§GET</title>
  </head>
  <body>
    <form method="GET" action="/">
      user:<input type="text" name="user" id="user" />
      comment:<input type="text" name="comment" id="name" />
      <input type="submit" />
    </form>
  </body>
</html>
