<html>
  <head>
    <title>node.jsでGET</title>
  </head>
  <body>
    <form method="GET" action="/">
      user:<input type="text" name="user" id="user" value="<%= user %>" />
      comment:<input type="text" name="comment" id="name" />
      <input type="submit" />
    </form>
    <% if (comments) { %>
    <ul>
      <% comments.forEach(function(list){ %>
      <li><%= list.user %> : <%= list.comment %></li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
